body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #0f0e0e;
background-color: #ffffff;
margin: 0;
padding: 0;
line-height: 1.6;
}

header {
background-color: #06750a;
color: white;
padding: 20px;
text-align: center;
}

header h1 {
margin: 0;
}

nav a {
color: white;
font-style: oblique;
text-decoration: beige;
text-align: center;
margin: 0 10px;
}

nav a:hover {
text-decoration: underline;
text-shadow: #372c2c;
}

main {
padding: 20px;
max-width: 800px;
margin: 0 auto;
}

main img {
max-width: 50%;
height: auto;
display: block;
margin: 20px 0;
}

footer {
background-color: #333;
color: white;
text-align: center;
padding: 2px;
position: fixed;
bottom: 0;
width: 100%;
}

p {
font-size: 1.1em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
color: #4CAF50;
text-decoration: oklab(from color l a b);
}

a:hover {
text-decoration: underline;
}

img {
border: 5px solid #4CAF50;
border-radius: 10px;
border-style: double;
}

main a[href^="mailto:"] {
color: #ff5722;
font-weight: bold;
}